<% include partials/header.ejs %>
<div class="container">
    <% if (message) { %>
        <p class="text-center text-danger"><%= message %></p>
    <% } %>

    <% if (player) { %>
        <form class="add-player-form" action="/edit/<%= player.id %>" method="post" >
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label for="first-name">Lead Name</label>
                    <input type="text" class="form-control" name="first_name" id="first-name" value="<%= player.first_name %>" required>
                </div>
                <div class="form-group col-md-4">
                    <label for="last-name">Opportunity Name</label>
                    <input type="text" class="form-control" name="last_name" id="last-name" value="<%= player.last_name %>" required>
                </div>
                <div class="form-group col-md-4">
                    <label for="username">CreatedBy</label>
                    <input type="text" class="form-control" name="username" id="username" value="<%= player.user_name %>" required disabled title="Username can't be changed">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="number">Contact</label>
                    <input type="text" class="form-control" name="number" id="number" placeholder="Contact" value="<%= player.number %>" required>
                </div>
                <div class="form-group col-md-6">
                    <label for="position">Account</label>
                    <select id="position" name="position" class="form-control" required>
                         <option selected disabled>Choose accounts</option>
                        <option>Honda</option>
                        <option>CNHI</option>
                        <option>Intel</option>
                        <option>Cisco</option>
                        <option>Caterpillar</option>
                        <option>Harley Davidson</option>
                    </select>
                </div>
            </div>
            <button type="submit" class="btn btn-success float-right">Update </button>
        </form>
    <% } else { %>
        <p class="text-center">Player Not Found. Go <a href="/add">here</a> to add players.</p>
    <% } %>
</div>
</div>
</body>
</html>