<% include partials/header.ejs %>
<div class="row" style="margin: 0px 18px">
    <div class="col-sm-12 col-md-12 col-lg-12">
    <div class="table-wrapper">
        <% if (players.length > 0) {%>
           
                    
              
            <table class="table table-bordered">
                <thead class="table-bordered" style="background-color: 1b213b ">
                    <tr style=" color:white; font-weight:bold ; background-color: #1f1071">
                        <th scope="col">ID</th>
                        <th scope="col">Image</th>
                        <th scope="col">Lead Name</th>
                        <th scope="col">Opportunity Name</th>
                        <th scope="col">Account</th>
                        <th scope="col">Contact</th>
                        <th scope="col">CreatedBy</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <% players.forEach((player, index) => { %>
                        <tr style=" color:white; font-weight:bold; ">
                            <th scope="row"><%= player.id %></th>
                            <td><img src="./images/dollar.jpg" class="rounded-circle player-img" alt=""></td>
                            <td><%= player.first_name %></td>
                            <td><%= player.last_name %></td>
                            <td><%= player.position %></td>
                            <td><%= player.number %></td>
                            <td>@<%= player.user_name %></td>
                            <td>
                                   
                                <a href="/edit/<%= player.id %>" class="btn btn-sm btn-info">Edit</a>
                                <a href="/delete/<%= player.id %>" class="btn btn-sm btn-info">Delete</a>
                            </td>
                        </tr>
                    <% }) %>
                </tbody>
            </table>
    
        <% } else { %>
            <p class="text-center">No players found. Go <a href="/add" >here</a> to add players.</p>
        <% } %>
    </div>
</div>
</div>
	<div class='row'>
	<div class="col-sm-12" >
	<img src="/assets/img/setballs.png" class="rounded-circle player-img" alt=""></td>
	</div>
	</div>
</div>
</body>
</html>